<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 250px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover; background-position: center top;">
</div>
<div class="container-fluid mt--8">
  <div class="row">
    <div class="col-xl-8 order-xl-2 mb-5 mb-xl-0 background-position: center top;">
      <div class="card card-profile shadow mb-5">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>

        <div class="card-body bg-white mt-8">
          <form class="m-3">
            <h6 class="heading font-weight-bold mb-3 d-flex justify-content-center">
              MI CUENTA</h6>
            <div class="row">
              <div class="col-lg-6 d-flex">
                <p class="font-weight-bold mr-2">DNI:</p>
                <p>77529553</p>
              </div>
              <div class="col-lg-6 d-flex">
                <p class="font-weight-bold mr-2">Contraseña:</p>
                <p>123456</p>
              </div>
            </div>

            <h6 class="heading font-weight-bold mb-3 mt-4 d-flex justify-content-center">
              INFORMACIÓN PERSONAL</h6>
            <div class="row">
              <div class="col-lg-6 d-flex">
                <p class="font-weight-bold mr-2">Nombres:</p>
                <p>Cristian Antony</p>
              </div>
              <div class="col-lg-6 d-flex">
                <p class="font-weight-bold mr-2">Apellido
                  paterno:</p>
                <p>Lara</p>
              </div>
              <div class="col-lg-6 d-flex">
                <p class="font-weight-bold mr-2">Apellido
                  materno:</p>
                <p>Arcos</p>
              </div>
                <div class="col-lg-6 d-flex">
                  <p class="font-weight-bold mr-2">Fecha de nacimiento:</p>
                  <p>01/05/04</p>
              </div>
                <div class="col-lg-6 d-flex">
                  <p class="font-weight-bold mr-2">Dirección:</p>
                  <p>La Era Ñaña</p>
              </div>
              <div class="col-lg-6 d-flex">
                <p class="font-weight-bold mr-2">Teléfono:</p>
                  <p>992544052</p>
              </div>
              <div class="col-lg-9 d-flex">
                <p class="font-weight-bold mr-2">Correo electrónico:</p>
                  <p>crislaraarcos@gmail.com</p>
              </div>
            </div>
           </form>
        </div>
      </div>
    </div>
  </div>
</div>