<div class="header pb-7 pt-5 pt-lg-8 align-items-center"
    style="min-height: 350px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <div class=" container mb-8 row mx-auto">
        <h1 class="text-center  col-sm-3"
            style="border: 2px black solid; background-color: white; font-size: 23px; width: 22rem; border-radius: 10px; font-family: sans-serif; color: black;">
            <strong>DOCUMENTOS</strong>
        </h1>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--8">
    <div class="row">
        <div class="col-xl-11 order-xl-2 mb-5 mb-xl-0 background-position: center top;">
            <div class="card card-profile shadow mb-5" style="margin-top: -6rem; border-radius: 10px;">
                <div class="row justify-content-center mt-2">
                    <span style="font-size: 1rem;"><strong>SUBIR DOCUMENTOS</strong></span>
                </div>
                <div class="card-body bg-white justify-content-center align-items-center d-flex">
                    <form class="mb-3">
                        <div class="container">
                            <div class="row justify-content-center align-items-center">
                                <div class="row col-sm-6  mt-4 d-flex">
                                    <div class="col-sm-8 text-center"
                                        style="border: 1px black solid; background-color: #f9d76f; border-radius: 8px;">
                                        <strong class="m-2">ACTA DE FUNDACIÓN O DE CONSTITUCIÓN</strong>
                                    </div>
                                    <div class="col-sm-4 row d-flex ">
                                        <div class="col-6" style="font-size: 32px; ">
                                            <a class="button" style="color: black;"><i
                                                    class="fa-regular fa-eye"></i></a>
                                        </div>
                                        <div class="col-6" style="font-size: 32px;">
                                            <i class="fa-solid fa-file-arrow-up"></i>
                                        </div>
                                    </div>

                                </div>
                                <div class=" row col-sm-6  mt-4 d-flex">
                                    <div class="col-sm-8 text-center"
                                        style="border: 1px black solid; background-color: #f9d76f; border-radius: 8px;">
                                        <strong class="m-2">PLANO O CROQUIS REFERENCIAL DE LA UBICACION DEL
                                            LOCAL</strong>
                                    </div>
                                    <div class="col-sm-4 row d-flex ">
                                        <div class="col-6" style="font-size: 32px; ">
                                            <a class="button" style="color: black;"><i
                                                    class="fa-regular fa-eye"></i></a>
                                        </div>
                                        <div class="col-6" style="font-size: 32px;">
                                            <i class="fa-solid fa-file-arrow-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center">
                                <div class="row col-sm-6  mt-4 d-flex">
                                    <div class="col-sm-8 text-center"
                                        style="border: 1px black solid; background-color: #f9d76f; border-radius: 8px;">
                                        <strong class="m-2">ESTATUTO Y ACTA DE APROBACION DE LA
                                            ORGANIZACION</strong>
                                    </div>
                                    <div class="col-sm-4 row d-flex ">
                                        <div class="col-6" style="font-size: 32px; ">
                                            <a class="button" style="color: black;"><i
                                                    class="fa-regular fa-eye"></i></a>
                                        </div>
                                        <div class="col-6" style="font-size: 32px;">
                                            <i class="fa-solid fa-file-arrow-up"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class=" row col-sm-6  mt-4 d-flex">
                                    <div class="col-sm-8 text-center"
                                        style="border: 1px black solid; background-color: #f9d76f; border-radius: 8px;">
                                        <strong class="m-2">PLANO O CROQUIS DEL RADIO DE ACCIÓN DE LA
                                            ORGANIZACIÓN</strong>
                                    </div>
                                    <div class="col-sm-4 row d-flex ">
                                        <div class="col-6" style="font-size: 32px; ">
                                            <a class="button" style="color: black;"><i
                                                    class="fa-regular fa-eye"></i></a>
                                        </div>
                                        <div class="col-6" style="font-size: 32px;">
                                            <i class="fa-solid fa-file-arrow-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4 justify-content-center align-items-center">
                                <div class=" row col-sm-12 align-center justify-content-center d-flex">
                                    <div class="text-center align-self-center col-sm-4"
                                        style="border: 1px black solid; background-color: #f9d76f; border-radius: 8px;">
                                        <strong class="m-2">ACTA DE ELECCIÓN DEL ORGANO DIRECTIVO</strong>
                                    </div>
                                    <div class="col-sm-4 row d-flex ">
                                        <div class="col-2" style="font-size: 32px; ">
                                            <a class="button" style="color: black;"><i
                                                    class="fa-regular fa-eye"></i></a>
                                        </div>
                                        <div class="col-2" style="font-size: 32px;">
                                            <i class="fa-solid fa-file-arrow-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center mt-4">
                            <button type="button" class="font-weight-bold m-2 btn  btn-sm col-lg-4" data-toggle="modal" data-target="#ModalAlerta"
                                style="background-color: #66a83a; color: white;" >=> ¡ENVIAR SOLICITUD! <= </button>
                        </div>
                        <div class="d-flex justify-content-start">
                            <div class="row d-flex justify-content-center mt-2 col-sm-2">
                                <button type="button" class="font-weight-bold m-2 btn btn-success btn-sm "
                                    style="background-color: #9e9e9e; color: black;" routerLinkActive="active"
                                    [routerLink]="['/datos-miembros']">REGRESAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalAlerta"data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: black; border: white 2px solid; border-radius: 15px;">
            <div class="modal-body text-center font-weight-bold">
               <strong><h3 style="color: white;">¿ESTÁ SEGURO DE ENVIAR LA SOLICITUD?</h3></strong>               
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-secondary" style="background-color: red;" data-dismiss="modal" data-toggle="modal" data-target="#ModalAlerta2">CANCELAR</button>
                <button type="button" class="btn btn-success"data-dismiss="modal" routerLinkActive="active"
                [routerLink]="['/mi-organizacion-social']">ACEPTAR</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalAlerta2"data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: black; border: white 2px solid; border-radius: 15px;">
            <div class="modal-body text-center font-weight-bold">
               <strong><h3 style="color: white;"></h3></strong>               
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-secondary" style="background-color: red;" data-dismiss="modal">CANCELAR</button>
                <button type="button" class="btn btn-success"data-dismiss="modal" routerLinkActive="active"
                [routerLink]="['/mi-organizacion-social']">ACEPTAR</button>
            </div>
        </div>
    </div>
</div>