<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 250px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover; background-position: center top;">
</div>
<div class="container-fluid mt--8">
    <div class="row">
        <div class="col-xl-8 order-xl-2 mb-5 mb-xl-0 background-position: center top;">
            <div class="card card-profile shadow mb-5">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="javascript:void(0)">
                                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card-body bg-white mt-8">
                    <form class="m-3">
                        <h6 class="heading font-weight-bold mb-1 d-flex justify-content-center">
                            MI CUENTA</h6>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="font-weight-bold form-control-label"
                                        for="input-last-name">DNI</label>
                                    <input type="text" id="input-last-name"
                                        class="form-control-sm form-control form-control-alternative"
                                        placeholder="DNI">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="font-weight-bold form-control-label"
                                        for="input-last-name">Contraseña</label>
                                    <input type="password" id="input-last-name"
                                        class="form-control form-control-sm form-control-alternative"
                                        placeholder="Contraseña">
                                </div>
                            </div>
                        </div>
                        <h6 class="heading font-weight-bold mb-3 mt-4 d-flex justify-content-center">
                            INFORMACIÓN PERSONAL</h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="font-weight-bold form-control-label"
                                        for="input-last-name">Nombres</label>
                                    <input type="text" id="input-last-name"
                                        class="form-control form-control-sm form-control-alternative"
                                        placeholder="Nombres">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="font-weight-bold form-control-label" for="input-first-name">Apellido
                                        paterno</label>
                                    <input type="text" id="input-first-name"
                                        class="form-control form-control-sm form-control-alternative"
                                        placeholder="Apellido paterno">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="font-weight-bold form-control-label" for="input-last-name">Apellido
                                        materno</label>
                                    <input type="text" id="input-last-name"
                                        class="form-control form-control-sm form-control-alternative"
                                        placeholder="Apellido materno">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="font-weight-bold form-control-label" for="input-last-name">Fecha
                                        de
                                        nacimiento</label>
                                    <input type="text" id="input-last-name"
                                        class="form-control form-control-sm form-control-alternative"
                                        placeholder="Fecha de nacimiento">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="font-weight-bold form-control-label"
                                        for="input-last-name">Dirección</label>
                                    <input type="text" id="input-last-name"
                                        class="form-control form-control-sm form-control-alternative"
                                        placeholder="Dirección">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="font-weight-bold form-control-label"
                                        for="input-last-name">Teléfono</label>
                                    <input type="text" id="input-last-name"
                                        class="form-control form-control-sm form-control-alternative"
                                        placeholder="Teléfono">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="font-weight-bold form-control-label" for="input-last-name">Correo
                                        electrónico</label>
                                    <input type="email" id="input-last-name"
                                        class="form-control form-control-sm form-control-alternative"
                                        placeholder="name@gmail.com">
                                </div>
                            </div>
                        </div>                        
                        <!-- Button trigger modal 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>-->